.main {
    display: flex;
    gap: 20px; /* Adds spacing between left and right */
    align-items: center; /* Aligns both columns at the top */
    margin: 5%;
}

body{
    background-image: url('images/wall.jpg'); 
    background-size: cover; /* Makes the image cover the entire screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; 
}
#row-1 {
    border-bottom: 20px solid rgb(207, 5, 5); /* Creates a red line under row 1 */
   
}
button{
    border: none;
    background: none;
}

img{
    height: 150px;
    width: auto;
    margin : auto;
}

.left{
    max-width: 60% ;
    text-align: center;
    display: grid;
  
    width: 60%;
}

.right{
    text-align: center;
    display: block;
    flex: 1; /* Allows it to adjust dynamically */
}

#icon-detail {
    margin: 0 70px;
    /* width: auto; */
}

#detail-box {
    background-color: var(--light-red);
    border-radius: 170px 170px 30px 30px;
    width: 32rem;
    padding: 4rem 2rem 1rem 2rem;
    margin-top: -80px;
}


#icon-img {
    width: auto;
    max-height: 250px;
    display: block;
    margin: auto;
}

#intro {
    font-family: ;
    line-height: 130%;
    margin: 0 3rem;
    text-align: center;
}

#description {
    font-size: 1.2rem;
    font-family: ;
    line-height: 130%;
}